<div class="fuente-dos">SKATERS</div>
<%if current_user.try(:admin?) %>
  <%= link_to 'Crear un nuevo perfil', new_skater_path %>
<% end %>
<br>
</p></p>


    <% @skaters.each do |skater| %>
        <div class="my-div-bottom"><%= link_to skater.skater_name.upcase, skater, :class =>"fuente-tres"%></div>
        <%if current_user.try(:admin?) %>
        |<%= link_to ' Editar', edit_skater_path(skater) %> |
        <%= link_to ' Eliminar', skater, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este perfil?' } %> |
        <% end %>
        <p></p>
    <% end %>

<br>


