<h4>SUDAMERICA SKATEBOARDING | CONTACTO</h4>

<p></p>
<h3><%= @newsletter_title %></h3>
<p></p>
<p>
<h4><STRONG><%= @user.username.capitalize %></STRONG> :</h4>	
<%= simple_format(@newsletter_body) %>
</p>
<p><h4>
<strong>Saludos!</strong></h4>
</p>