

<h1 style = "color:#B28D8D;">Videos/Perfiles</h1>

    <% @video_skater.each do |video_skater| %> 
        <%= video_skater.video_skater_title %>
        <%= video_skater.video_skater_url %>
        <%= video_skater.skater.skater_name %>
      <br>
    <% end %>


<br>


