<% @skater_id = params[:skater_id].to_i
@skater_name = params[:skater_name]
%>


<h1 style = "color:#B28D8D;">Agregar video a perfil</h1><br>

<%= render 'form' %>

<%= link_to '→ Volver', skaters_path %>
