
<div class="secciones">F O T O S</div>
<p></p>
<% if current_user.try(:admin?)%> <%= link_to 'Agregar Album', new_album_path %> <% end %>
<p></p>



    <% @albums.each do |album| %>
    
    
        <div class="my-div-bottom"><%= link_to album.album_title.upcase, album ,:class => "fuente-tres" %></div>
        <% if current_user.try(:admin?)%>
        |<%= link_to ' Editar', edit_album_path(album) %> |
        <%= link_to ' Eliminar', album, method: :delete, data: { confirm: 'Esta seguro que quiere eliminar el album?' } %> |
        <% end %>
        <p></p>
    
    <% end %>

<br>


