body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #49aec3;
}

.field_with_errors {
  border-top: 5px solid #FE2E64;
}

#error_explanation {
  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    
   
    color: #F7819F;
    
  }
  ul li {
  padding: 3px;
  font-size: 12px;
    
  }
}
