<%
nombres =  @resource.username.partition(" ")  
@nombre=""
nombres.each do |palabra|
@nombre = @nombre+palabra.capitalize
end
%>

<h4>SUDAMERICA SKATEBOARDING | CONTACTO</h4>

<p>Hola <%= @nombre %>!</p>

<p>Alguien ha pedido un link para cambiar tu contrase침a. Puedes hacerlo entrando en el siguiente link:</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no fuiste tu, por favor ignora este mail.</p>
<p>Tu contrase침a no cambiar치 a no ser que entres en el link y creas una nueva.</p>

