
<h1 style = "color:#B28D8D;">Fotos/Skater</h1>


    <% @photo_skaters.each do |photo_skater| %>
    
        <%= photo_skater.photo %>
        <%= photo_skater.skater.skater_name %>
        <br>
    <% end %>


<br>

